// This file should only be used to override everything else except sass & css variables.

body
  font-size: 1rem

h1, h2, h3, h4, h5
  margin: 0.25em 0
  padding: 0.05em
  font-weight: bold
  &:target
    scroll-margin-top: calc(48px + 5px)
  @media screen and (max-width: 770px)
    scroll-margin-top: 40px

p
  padding: 0.3em 0
  font-size: 0.92rem

figcaption
  font-size: 0.6rem

// sidebar
.sidebar
  font-size: .8rem
  h2
    margin-top: 1rem

aside li
  padding: 0.1rem 0

.post_tag
  padding: 0.2rem 0.4rem

.post_body
  padding-bottom: 5rem

.button
  &_translucent
    background-color: transparent
    border: 1px solid $theme
  &_tally
    padding: 0 .5rem
    background-color: rgba($theme, 0.15)

[data-mode="lit"]
  .button
    &_tally
      color: $theme

.sidebar
  &_inner
    &::before
      background: var(--haze)
.footer
  // border-top: 1px solid var(--text)
  &_inner
    grid-template-columns: 1fr

// article
img
  margin: 0 auto
  & + figcaption
    margin-bottom: 0.3rem
    line-height: 1.4

.image-scalable
  cursor: initial
  img
    cursor: pointer

  &.img-half
    width: calc(50% - 3px)

.post_tag, .post_share
  margin: 0.2rem .1rem

.post_meta
  margin-bottom: 1rem
  font-size: 0.9rem
  span
    font-size: 0.9rem

.excerpt_thumbnail
  display: block
  margin-top: 1rem

.post_date
  margin: 0 .2rem 0 .1rem

.post_body
  ul li, ol li,  p
    font-size: 0.92rem

// my shortcodes
.flex-half
  display: inline-block
  width: calc(50% - 3px)
  @media screen and (max-width: 556px)
    display: block
    width: 100%

@media screen and (min-width: 557px)
  .post_meta
    span.post_time
      margin-right: 0.2rem

@media screen and (min-width: 667px)
  .post_meta
    .button
      margin: 0 0.2rem

@media screen and (min-width: 769px)
  .excerpt_footer.partition
    grid-template-columns: 6fr 3fr
  .excerpt_thumbnail
    margin-top: 0
    overflow: hidden

// html
  // @mixin darkmode
  // hr
    // background: var(--theme)
  // .footer
    // border-top: 1px solid var(--text)
