// This file should only be used to override sass & css variables e.g theme colors
$bg: #313131
// $theme: #3e8c5c
$theme: #3aa262
$light: #c7f8d9

html
  --bg: #1c1c1c
  --text: #333
  --light: #fff
  --haze: #ececec
  --theme: #efefef
  // --choice-bg: #333
  @mixin darkmode
    --theme: #313131
